body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/**
html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

**/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background: rgba(42, 44, 46, 0.7);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.navbar .logo {
  padding: 6px 20px;
  float: left;
}

#logo {
  font-size: 30px;
  color: #f28705;
}
.navbar ul {
  list-style: none;
  float: right;
  margin: 0;
  padding-right: 50px;
  display: flex;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  line-height: 45px;
  color: #f28705;
  padding: 13px 25px;
  text-decoration: none;
}
.navbar ul li a:focus {
  outline: none;
}
.navbar ul li a.active {
  background: #f28705;
  color: #fff;
}

nav ul li a:hover {
  outline: none;
  background: #f28705;
  color: #fff;
  transition: 720ms;
}
.banner-style {
  width: 100%;
  height: 150px;
  background: orange;
}

.banner-tittle {
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin: 0;
}

.banner-video {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(37, 34, 34, 0.5);
}

.tittle-box {
  left: 3%;
  position: absolute;
  display: block;
}

.tittle h1 {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 75px;
}

.sub-tittle {
  width: 70%;
}
.sub-tittle p {
  margin: 0;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
}

video.video-screen {
  position: relative;
  overflow: hidden;
  z-index: -100;
  width: 100%;
}

.container h1 {
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 40px;
  color: #f28705;
}

.subtittle-contactanos {
  text-align: center;
  margin: 10px;
  font-weight: 400;
  font-size: 22px;
  color: #252525;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card p {
  font-size: 40px;
  color: #fff;
  margin: 0;
  text-align: center;
}

.card-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 245px;
  border-radius: 10px;
  margin: 10px 15px;
}

.card-styles p {
  font-size: 40px;
  color: #fff;
  margin: 0;
  text-align: center;
}
.blur {
  width: 245px;
  height: 245px;
  border-radius: 10px;
  background: rgba(32, 33, 36, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur:hover {
  background: rgba(32, 33, 36, 0.3);
  transition: 1500ms;
}

.card1 {
  background-image: url(https://cdn.nrm.com.mx/cdn/beat/2015/imagenes/contenido/daft-punk-the-pyramid.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card2 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/72/LaBanda.png);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card3 {
  background-image: url(https://d.newsweek.com/en/full/1570476/drake.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card4 {
  background-image: url(https://estaticos.sport.es/resources/jpg/2/7/1588325728972.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card5 {
  background-image: url(https://cdn-pro.elsalvador.com/wp-content/uploads/2018/09/Musica-bandas.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card6 {
  background-image: url(https://www.humonegro.com/wp-content/FOSTER-THE-PEOPLE1-560x368.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card7 {
  background-image: url(https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/1/7/c/8/17c8720c6ed5a7fa733fb67dd35f4d67.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card8 {
  background-image: url(https://www.esquirelat.com/wp-content/uploads/2018/04/5-cosas-que-no-sab%C3%ADas-de-Little-Jesus-la-banda-que-debes-conocer-1280x720.jpeg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.contenedor-card-ventas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-ventas {
  width: 225px;
  height: 275px;
  margin: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.imagen-album img {
  width: 225px;
  height: 225px;
}

.portada-album {
  width: 225px;
  height: 225px;
}

.imagen-album1 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/81/Portada_del_%C3%A1lbum_%22Jueves%22_del_Cuarteto_de_Nos.jpg);
}
.imagen-album2 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://images.genius.com/4fa0a066bfd88a31bb75c7eeb2fb874c.500x500x1.jpg);
}
.imagen-album3 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81IBa0nO%2BZL._SX425_.jpg);
}
.imagen-album4 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("https://img.discogs.com/NYqDXRLjnM81STSFcgpcvhFKF6w=/fit-in/600x599/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-13971485-1565193130-4075.jpeg.jpg");
}

.imagen-album5 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Uxg-SWExL._SL1500_.jpg);
}
.imagen-album6 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://f4.bcbits.com/img/a0106338509_10.jpg);
}
.imagen-album7 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/71wiyaRhwPL._SL1500_.jpg);
}
.imagen-album8 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('https://img.discogs.com/PFU49fd7qUkZRNnp-1dlk0oc94c=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-6862428-1464172957-9209.jpeg.jpg');
}
.imagen-album9 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("https://img.discogs.com/UN6tCp7ygNsZwxhvbkmAEdUnZD4=/fit-in/480x480/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4991491-1381560483-9603.jpeg.jpg");
}
.imagen-album10 {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(https://lastfm.freetls.fastly.net/i/u/500x500/baafa02626d54475c412e80c6b121193.jpg);
}
.play-love-blur {
  width: 225px;
  height: 225px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-love-blur:hover {
  background: rgba(22, 23, 24, 0.7);
  transition: 500ms;
}

.play-love-blur:hover #playbutton1,
.play-love-blur:hover #playbutton2,
.play-love-blur:hover #playbutton3,
.play-love-blur:hover #playbutton4,
.play-love-blur:hover #playbutton5,
.play-love-blur:hover #playbutton6,
.play-love-blur:hover #playbutton7,
.play-love-blur:hover #playbutton8,
.play-love-blur:hover #playbutton9,
.play-love-blur:hover #playbutton10 {
  display: block;
}

#playbutton1,
#playbutton2,
#playbutton3,
#playbutton4,
#playbutton5,
#playbutton6,
#playbutton7,
#playbutton8,
#playbutton9,
#playbutton10 {
  display: none;
  font-size: 60px;
  color: #f28705;
}

.card-album-tittle {
  width: 225px;
  height: 50px;
}

.album-tittle {
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.album-artist {
  margin: 0;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
}

.contactanos-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dibujo-box {
  margin: 40px;
}
object.dibujo {
  height: 350px;
}
.formulario-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 580px;
  margin: 40px;
}

.formulario {
  font-size: 16px;
  border-style: solid;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #f28705;
  color: #252525;
  text-align: left;
  margin: 10px;
}
.formulario:focus {
  outline: none;
}
#nombre {
  width: 180px;
}

#email {
  width: 300px;
}

#producto {
  width: 524px;
}

#descripcion {
  width: 524px;
  height: 150px;
}

.formulario-enviar {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #f28705;
  width: 560px;
  border: none;
  height: 40px;
  border-radius: 10px;
  margin: 15px;
}

.divider {
  height: 10px;
  width: 100%;
  background-color: #f28705;
  margin-top: 3%;
  margin-bottom: 3%;
}


.divider#categorias {
  margin-top: 0%;
  margin-bottom: 3%;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f28705;
}