html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background: rgba(42, 44, 46, 0.7);
  backdrop-filter: blur(10px);
  z-index: 100;
}

nav .logo {
  padding: 10px 20px;
  float: left;
}
nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding-right: 50px;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  line-height: 55px;
  color: #f28705;
  padding: 18px 25px;
  text-decoration: none;
}
nav ul li a:focus {
  outline: none;
}
nav ul li a.active {
  background: #f28705;
  color: #fff;
}

nav ul li a:hover {
  outline: none;
  background: #f28705;
  color: #fff;
  transition: 720ms;
}

.header {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(37, 34, 34, 0.5);
}
.tittle-box {
  position: absolute;
  float: left;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.tittle h1 {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 75px;
}

.sub-tittle {
  width: 750px;
}
.sub-tittle p {
  margin: 0;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
}

.banner-video {
  position: relative;
  z-index: -101;
}

.header video {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
}



.container h1 {
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 40px;
  color: #f28705;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card p {
  font-size: 40px;
  color: #fff;
  margin: 0;
  text-align: center;
}

.card-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 245px;
  border-radius: 10px;
  margin: 10px 15px;
}

.card-styles p {
  font-size: 40px;
  color: #fff;
  margin: 0;
  text-align: center;
}
.blur {
  width: 245px;
  height: 245px;
  border-radius: 10px;
  background: rgba(32, 33, 36, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur:hover {
  background: rgba(32, 33, 36, 0.3);
  transition: 1500ms;
}

.card1 {
  background-image: url(https://cdn.nrm.com.mx/cdn/beat/2015/imagenes/contenido/daft-punk-the-pyramid.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card2 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/72/LaBanda.png);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card3 {
  background-image: url(https://d.newsweek.com/en/full/1570476/drake.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card4 {
  background-image: url(https://estaticos.sport.es/resources/jpg/2/7/1588325728972.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card5 {
  background-image: url(https://cdn-pro.elsalvador.com/wp-content/uploads/2018/09/Musica-bandas.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card6 {
  background-image: url(https://www.humonegro.com/wp-content/FOSTER-THE-PEOPLE1-560x368.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card7 {
  background-image: url(https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/1/7/c/8/17c8720c6ed5a7fa733fb67dd35f4d67.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
.card8 {
  background-image: url(https://www.esquirelat.com/wp-content/uploads/2018/04/5-cosas-que-no-sab%C3%ADas-de-Little-Jesus-la-banda-que-debes-conocer-1280x720.jpeg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.contenedor-card-ventas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-ventas {
  width: 225px;
  height: 275px;
  margin: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.imagen-album img {
  width: 225px;
  height: 225px;
}

.imagen-album {
  background-color: #fff;
}

.card-album-tittle {
  width: 225px;
  height: 50px;
}

.album-tittle {
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.album-artist {
  margin: 0;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
}
/***
#card1 {
  background-image: linear-gradient(
      rgba(32, 33, 36, 0.7),
      rgba(32, 33, 36, 0.7)
    ),
    url(https://cdn.nrm.com.mx/cdn/beat/2015/imagenes/contenido/daft-punk-the-pyramid.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

#card2 {
  background-image: linear-gradient(
      rgba(32, 33, 36, 0.7),
      rgba(32, 33, 36, 0.7)
    ),
    url(https://upload.wikimedia.org/wikipedia/commons/7/72/LaBanda.png);
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#card3 {
  background-image: linear-gradient(
      rgba(32, 33, 36, 0.7),
      rgba(32, 33, 36, 0.7)
    ),
    url(https://d.newsweek.com/en/full/1570476/drake.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#card4 {
  background-image: linear-gradient(
      rgba(32, 33, 36, 0.7),
      rgba(32, 33, 36, 0.7)
    ),
    url(https://estaticos.sport.es/resources/jpg/2/7/1588325728972.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#card5 {
  background-image: linear-gradient(
      rgba(32, 33, 36, 0.7),
      rgba(32, 33, 36, 0.7)
    ),
    url(https://cdn-pro.elsalvador.com/wp-content/uploads/2018/09/Musica-bandas.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#card6 {
  background-image: linear-gradient(
      rgba(32, 33, 36, 0.7),
      rgba(32, 33, 36, 0.7)
    ),
    url(https://www.humonegro.com/wp-content/FOSTER-THE-PEOPLE1-560x368.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#card7 {
  background-image: linear-gradient(
      rgba(32, 33, 36, 0.7),
      rgba(32, 33, 36, 0.7)
    ),
    url(https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/1/7/c/8/17c8720c6ed5a7fa733fb67dd35f4d67.jpg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#card8 {
  background-image: linear-gradient(
      rgba(32, 33, 36, 0.7),
      rgba(32, 33, 36, 0.7)
    ),
    url(https://www.esquirelat.com/wp-content/uploads/2018/04/5-cosas-que-no-sab%C3%ADas-de-Little-Jesus-la-banda-que-debes-conocer-1280x720.jpeg);
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
**/
